.addPicButton{
    color:black;
    font-size: .8vw;
   
    border: solid 3px;
    border-radius: 20px;
    font-weight: 900;
    width:6vw;
    background-color: rgb(204, 219, 233);
}

.addPicButton:hover {
   
    opacity: .8;

    color:rgb(204, 219, 233);
  }
  button .comment { display: none; }
  button:hover .replies { display: none; }
  button:hover .comment { display: inline; }
 