
.postItem{
    color:black;
    font-size: 1.3vw;
   float:right;
    border: solid 3px;
    border-radius: 20px;
    font-weight: 900;
    width:9vw;
    background-color: rgb(204, 219, 233);
}

.postItem:hover {
   
    opacity: .8;

    color:rgb(204, 219, 233);
  }
  button .comment { display: none; }
  button:hover .replies { display: none; }
  button:hover .comment { display: inline; }
 