.logInButton{
    color:black;
    font-size: 2vw;
    float: right;
    border: solid 3px;
    border-radius: 20px;
    font-weight: 900;
    width:8vw;
   
    background-color: rgb(204, 219, 233);
}

.logInButton:hover {
   
    opacity: .8;

    color:rgb(204, 219, 233);
  }
  button .comment { display: none; }
  button:hover .replies { display: none; }
  button:hover .comment { display: inline; }
 