body {
    margin:0px;
}
.navbar {
    background-color: white;
    width: 100vw;
    height: 11vw;
    border-bottom: solid .5vh rgb(0, 0, 0);

   
}
.treasureNavBar {
   
    font-size: 4vw;
    
    font-weight: 900;
    margin-top: 6vw;
  margin-left: 4vw;
    float:left;
}