body {
    margin:0px;
}

.profileButton{
  color:black;
  font-size: 1.3vw;
  float: right;
  border: solid 3px;
  border-radius: 20px;
  font-weight: 900;
  width:8vw;
 text-align: center;
  background-color: rgb(255, 255, 255);
  margin-right:1vw;
}

.profileButton:hover {
 
  opacity: 1;

  color:rgb(255, 255, 255);
}
.logOutButton{
  color:black;
  font-size: 1.3vw;
  float: right;
  border: solid 3px;
  border-radius: 20px;
  font-weight: 900;
  width:8vw;
  text-align: center;
  background-color: rgb(255, 255, 255);
}

.logOutButton:hover {
 
  opacity: 1;

  color:rgb(255, 255, 255);
}
a .comment { display: none; }
a:hover .replies { display: none; }
a:hover .comment { display: inline; }



.navbarStyle{
    font-size: 6vw;
    font-weight: 900;
    float:left;
   
    width: 100vw;
    height: 7vw;
    border-bottom: solid .5vh rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    
}
.titleContainer{
  position: relative;
  --maskX: 0;
  --maskY: 50;
  font-size: 6vw;
  float:left;
  color: black;
  
}

.titleContainer.treasureTitle {
 text-decoration: none;
    color: black;
    font-size: 6vw;
    text-align: center;
    bottom:0;
  }
  
.cloneWrapper {
  position: absolute;
 margin-top:1vw;
  left: 0;
  color:  rgb(0, 0, 0);
  /* clip-path: polygon(0 0, 100 0, 50% calc(var(--maskY) * 1%), 100% calc(var(--maskY) * 1%)); */
  /* clip-path: inset(0% 0% 0% calc(var(--maskX) * 1%)); */
  clip-path: inset(   calc(var(--maskX) * 1%) 0% 0% 0%);
}


 
/* boat animation */
.shipMove {
    position: absolute;
    top: 79%;
    left: -200px;
    z-index: 10;
    height:3vh;
    width:4vw;

    animation-duration: 60s;
    animation-name: goRight;
    animation-iteration-count: infinite;
    z-index:0;
  }
  
  @keyframes goRight {
    from {
      transform: translate(0,0);
    }
  
    to {
      transform: translate(1920px,0);
    }
  }

  .titleContainer .navbar-brand {
    font-size: 1.9rem;
    color: black;
  }
  .titleContainer .navbar-brand.cloneWrapper{
    font-size: .9rem;
  }