.signUpButton{
    
        color:black;
        font-size: 1.3vw;
        float: right;
        border: solid 3px;
        border-radius: 20px;
        font-weight: 900;
        width:11vw;
        background-color: rgb(255, 255, 255);
}

.signUpButton:hover {
   
    opacity: .8;

    color:rgb(255, 255, 255);
  }
  button .comment { display: none; }
  button:hover .replies { display: none; }
  button:hover .comment { display: inline; }


.bodyOfReg {
    margin-left:3vw;
    margin-right:3vw;
    z-index: 99;
}

.registerModal {
    z-index: 99;
    padding-left:3vw;


}
.treasureMessage{
    color:black;
    font-size: 6vh;
    margin-bottom:2.5vh;
    text-align: center;
    z-index: 99;
}
.leftColumn{
    float:left;
}
.rightColumn{
    float:left;
}

.xButton {
    color:black;
    font-weight: 900;
    font-size: 5vh;
    float:right;
   border:none; 
  
}

.userInputTitle{
    color:black;
    font-weight: 900;
    font-size: 4vh;
    margin-bottom:.50vh;
    margin-right:3vw;
}

.doneButton{
    color:black;
    font-weight: 900;
    font-size: 3vh;
   
 
   
}
.informationInupt {
    border-radius: 5px;  
    font-weight: 900;
    font-size: 4vh;
    margin-bottom:2vh;
    margin-right:3vw;
}